---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---

<Layout
	pageTitle="Mis servicios"
	pageDescription="Esta es una pagina para pfrecer servicios de desarrollo de software"
>
	<h1>Mis servicios</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor maiores iste
		perspiciatis natus. Impedit, porro!
	</p>

	<Card title="Hola mundo" body="Esto es una prueba" id={1} />
	<Card title="programacion" body="Servicios de desarrollo web" id={2} />
	<Card title="diseño" body="diseño de interface web" id={3} />
</Layout>
