---
interface Props {
	title: string;
	id: number;
	body: string;
}
const { title, id, body } = Astro.props;
---

<div class="card">
	<h2>{id}</h2>
	<h1>{title}</h1>
	<p>{body}</p>
</div>

<style>
	.card {
		background: blue;
		border-radius: 5px;
		box-shadow:
			0 2px 4px 0 rgba(0, 0, 0, 0.2),
			0 25px 50px 0 rgba(0, 0, 0, 0.1);
		padding: 20px;
		width: 300px;
		margin-bottom: 10px;
	}
</style>
