---
interface Props {
    pageTitle?: string;
    pageDescription?: string;
}
const {pageTitle, pageDescription} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{pageDescription}" />
		<title>Aprendiendo Astro | {pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
